.add-to-cart {
  align-items: center;
  gap: rem(10px);
  button {
    height: 30px;
  }
  .remove {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
    }
  }
  @include for-wide-layout {
    flex-direction: row;
  }
  .quantity-selection {
    justify-content: space-between;
    align-items: center;
    .small-btn {
      width: rem(30px);
      border: 1px solid $clr4;
    }
    span {
      width: rem(30px);
      text-align: center;
    }
  }
  .in-cart-actions {
    gap: 5px;
  }
  .action-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    @include for-wide-layout {
      width: max-content;
    }
    p {
      width: rem(100px);
    }
    span {
      width: rem(50px);
    }
  }
}
