.arrow-list {
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
}

.carousel-container {
  max-width: 90vw;
  .react-multi-carousel-item {
    max-width: 98vw;
    height: 400px;
    .dish-preview {
      // border: 1px solid black;
      height: 100%;
      width: 100%;
      box-shadow: none;
      @include for-narrow-layout {
        width: 90%;
      }
      .info {
        flex-direction: column;
        text-align: center;
      }
      small {
        display: none;
        margin-bottom: 10px;
      }
      .add-to-cart {
        flex-direction: column;
        align-self: center;
        // justify-content: center;
        .in-cart-actions {
          flex-direction: column;
          // flex-wrap: wrap;
        }
        .remove {
          margin: 0 auto;
        }
      }
    }
  }
}
