.checkout-preview {
  align-items: center;
  height: 100%;
  // width: 100%;
  gap: 10px;
  .checkout-list {
    max-height: 200px;
    overflow-y: auto;
  }
  .item {
    gap: 5px;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.5px solid $clr5;

    .img-container {
      display: none;
      @include for-normal-layout {
        display: block;
        width: 60px;
      }
    }
    h4 {
      margin-bottom: 7px;
    }
    .add-to-cart {
      .action-btn {
        width: 150px;
        padding: 0 5px;
      }
      button,
      span {
        font-size: rem(13px);
      }
    }
  }
}
.dropdown {
  button {
    font-size: rem(16px);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $clr1;
  min-height: 100px;
  max-height: 300px;
  box-shadow: $shadow;
  border: 0.5px solid $clr5;
  padding: 12px 10px 0px 12px;
  z-index: 1;
  right: 0;
  margin-top: 15px;
  width: 100%;
  h3 {
    margin: 10px 0;
  }
  @include for-normal-layout {
    width: max-content;
    right: 1%;
    border-radius: $border-radius;
  }
  button {
    align-self: flex-end;
  }
  .btn-container {
    display: flex;
    justify-content: center;
    height: 70px;
    border-top: 0.5px solid $clr5;
    // padding: 10px 0px;

    .checkout-btn {
      display: flex;
      border-radius: $border-radius;
      width: 170px;
      padding: 8px 10px;
      align-self: center;
      max-height: 30px;
      gap: 5px;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      border: none;
      padding: 5px; // height: max-content;
    }
  }
}

.dropdown-content.show {
  display: flex;
  flex-direction: column;
}
