.dish-details {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  // border-radius: $border-radius;
  // box-shadow: $shadow;
  padding: 5vw;
  // margin-bottom: 30px;
  @include for-normal-layout {
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
  }
  .info {
    gap: 20px;
    text-align: center;
    min-height: 100%;
    span:not(.price) {
      text-align: justify;
    }
    @include for-normal-layout {
      // text-align: start;
      gap: 40px;
      width: max-content;
      h1 {
        font-size: rem(40px);
      }
      p,
      span {
        font-size: rem(20px);
        max-width: 400px;
      }
      p {
        text-transform: capitalize;
      }
    }
  }
  img {
    width: 40%;
  }
}
