form {
  align-self: center;
  @include for-normal-layout {
    max-width: 300px;
  }
  input {
    border-radius: $border-radius;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid $clr5;
    // border: none;
    color: $clr5;
    font-size: rem(16px);
    margin-bottom: 15px;
    &::placeholder {
      color: $clr5;
    }
  }
  .call-to-action-btn {
    margin-top: 20px;
  }
}
