.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 4vw;
  .menu-btn {
    font-size: rem(20px);
    z-index: 6;
    margin: 20px;
    top: 0;
    right: 0;
    @include for-normal-layout {
      display: none;
    }
  }
  button {
    padding: 0;
  }
  & nav {
    display: none;
    font-size: rem(16px);
    z-index: 5;
    a {
      padding-bottom: 20px;
    }
    @include for-normal-layout {
      display: flex;
      a {
        padding-bottom: 0;
        padding-inline-end: 20px;
      }
    }
    &.show {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: $shadow;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      align-items: center;
      padding: 60px 0px 40px 0px;
      border-radius: $border-radius;
      * > {
        padding: 20px 0px;
      }
    }
  }

  & .logo {
    gap: 5px;
    img {
      height: 40px;
      width: 40px;
    }
  }
}

// @media screen and (min-width: 1080px) {
//   header.main-header {
//     padding-top: 40px;
//   }
// }
