.modal {
  position: absolute;
  justify-content: center;
  align-items: center;
  //   width: 100%;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  box-shadow: $shadow;
  z-index: 5;
  background-color: #fff;
  border-radius: $border-radius;
  @include for-normal-layout {
    width: 50%;
    height: 50%;
  }
}
