.small-btn {
  border: 1px solid $clr3;
  width: max-content;
  padding: em(5px) em(8px);
  &:active {
    // background-color: $clr3;

    // padding: 3px 6px;
  }
}

.action-btn {
  background-color: $clr3;
  color: #fff;
  padding: em(5px) em(8px);
  &:active {
    // padding: 3px 6px;
  }
  :disabled {
    background-color: gray;
  }
  //   width: calc(100% + 10px);
}

.call-to-action-btn {
  .empty-div {
    text-align: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: $border-radius;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    margin-top: -56px;
    margin-left: 6px;
    background-color: brown;
    color: #fff;
    border-radius: $border-radius;

    &:active {
      margin-top: -50px;
      margin-left: 0px;
    }
  }
}
