.small-btn {
  border: 1px solid $clr4;
  width: max-content;
  padding: em(5px) em(8px);
}

.action-btn {
  background-color: $clr3;
  color: #fff;
  padding: em(5px) em(8px);
  :disabled {
    background-color: gray;
  }
}

.call-to-action-btn {
  .empty-div {
    text-align: center;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: $border-radius;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    margin-top: -56px;
    margin-left: 6px;
    background-color: #a52a2a;
    color: #fff;
    border-radius: $border-radius;

    &:active {
      margin-top: -50px;
      margin-left: 0px;
    }
  }
}

.round-btn {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  background-color: $clr5;
  border: 2px dotted $clr3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;

  @include for-normal-layout {
    width: 120px;
    height: 120px;
  }
  img {
    object-fit: cover;
    width: 70%;
    height: 70%;
  }
}
