.details-page {
  .add-to-cart {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 50px auto;
  }
  .assemble-dish {
    border-top: 0.5px solid $clr5;
    padding-top: 30px;
  }
}
