.home-page {
  .hero {
    background-image: url('https://res.cloudinary.com/dmxsqwvwv/image/upload/a_270/v1643990795/ramen-shop/Quick-Chicken-Ramen-7-of-7-2_vvseyp.jpg');
    // background-image: url('https://res.cloudinary.com/dmxsqwvwv/image/upload/a_90/v1643993549/ramen-shop/noita-digital-zcx5ztIjQAM-unsplash_lpjhn6.jpg');
    // background-image: url('https://res.cloudinary.com/dmxsqwvwv/image/upload/v1643998241/ramen-shop/Wagamama_MOA_a1osi7.jpg');
    width: 100%;
    height: 100vh;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;

    padding: 10vw;
    border-top: 1px solid $clr5;
    h1 {
      color: #ffff;
    }
  }
  .menu-suggestions {
    background-color: $clr5;
    // margin-top: -40px;
    gap: 60px;
    padding-bottom: 60px;
    @include for-normal-layout {
      // margin-top: -60px;
      gap: 100px;
      padding-bottom: 100px;
    }
    .menu-icons {
      margin-top: -40px;
      justify-content: space-evenly;
      @include for-normal-layout {
        margin-top: -60px;
      }
      .menu-item {
        p {
          color: $clr1;
        }
        gap: 10px;

        align-items: center;
      }
    }
    .call-to-action-btn {
      align-self: center;
    }
    // bottom: 10%;
  }
  .menu-preview {
    margin-top: 2vw;
  }
}
