.menu-page {
  h1 {
    margin-bottom: 3vw;
  }
  nav {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid grey;
    a {
      padding: 0 10px;
      //   margin: 0px 8px;
    }
  }
}
