/* Media queries Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}
@mixin for-ex-wide-layout {
  @media (min-width: $break-ex-wide) {
    @content;
  }
}

@mixin layoutGTC($max) {
  grid-template-columns:
    minmax($layoutPadding, 1fr)
    minmax(auto, $max)
    minmax($layoutPadding, 1fr);
}

/* Media  Mixins */

//aspect ratio mixin
@mixin aspect-ratio($width: 1, $height: 1) {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  > img {
    height: 100%;
    // object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}

@mixin dish-preview {
  // display: flex;
  flex-direction: column;
  gap: 10px;
  padding: rem(5px);
  text-align: center;
  min-height: 180px;
  // box-shadow: $shadow;
  border-radius: $border-radius;
  // border: 0.5px solid $clr4;
  background-color: $clr6;

  .add-to-cart {
    align-self: center;
    // .remove {
    //   display: block;
    //   align-self: flex-end;
    //   background-color: khaki;
    // }
  }
  h3 {
    margin-bottom: 8px;
  }
  small {
    display: none;
    height: px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    font-size: rem(14px);
    line-height: 1.5em;
  }

  .info {
    align-items: center;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    span {
      font-size: 1rem;
      font-weight: bolder;
    }
    .img-container {
      // width: 60%;
      width: 160px;
      height: 160px;
    }
  }
}
