// COLOR PALETTE
$clr1: hsl(218, 28%, 13%);
$clr2: hsl(215, 61%, 61%);
$clr3: hsl(215, 41%, 73%);
// $clr4: #f0decb;
// $clr5: #fff;
$shadow: 0 0 11px #0000002b;
$border-radius: 0.25em;
// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;
$break-ex-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding;
$padded-break-normal: $break-normal + $layoutPadding;
$padded-break-wide: $break-wide + $layoutPadding;
$padded-break-ex-wide: $break-ex-wide + $layoutPadding;
