// COLOR PALETTE
$clr1: hsl(218, 28%, 13%);
$clr3: hsl(216, 53%, 9%);
$clr2: hsl(219, 30%, 18%);
// $clr4: #f0decb;
// $clr5: #fff;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;
$break-ex-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding;
$padded-break-normal: $break-normal + $layoutPadding;
$padded-break-wide: $break-wide + $layoutPadding;
$padded-break-ex-wide: $break-ex-wide + $layoutPadding;
