// COLOR PALETTE
$clr1: #1d1313;
$clr2: #a79696;
$clr3: #a52a2a;
$clr4: #a7969644;
$clr5: #faf3f3;
$clr6: #a796961a;
// $clr4: #f0decb;
// $clr5: #fff;
$shadow: 0 0 8px $clr4;
$border-radius: 0.25em;
// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 640px;
$break-wide: 960px;
$break-ex-wide: 1200px;

$padded-break-narrow: $break-narrow + $layoutPadding;
$padded-break-normal: $break-normal + $layoutPadding;
$padded-break-wide: $break-wide + $layoutPadding;
$padded-break-ex-wide: $break-ex-wide + $layoutPadding;
